.contentProduct {
  background-color: #ffffff;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 200px;
  padding: 15px;
  margin-top: 3px;
}

.contentPicture {
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.contentPicture img {
  height: 100%;
}

.contentInfoProducto {
  text-align: left;
  padding-left: 15px;
}

.price {
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}

.title {
  width: 450px;
  font-size: 18px;
  margin-top: -3px;
}

.contentFreeShippingandprice {
  display: flex;
}

.freeShipping img {
  width: 28px;
  height: 28px;
  margin: 8px;
}
