section .contentResults {
  background-color: #eeeeee;
  padding-top: 0.1px;
  padding-left: 220px;
  padding-right: 220px;
}

section {
  background-color: #eeeeee;
  margin-top: -21px;
}

section .contentResults p {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 14px;
}

.contentnProducts {
  display: flex;
  flex-direction: column;
}

li {
  display: inline-block;
  margin-top: 21px;
  margin-bottom: 21px;
}

.categoryResults {
  margin-left: -49px;
}
